@font-face {
  font-family: 'insungitCutelivelyjisu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin : 0;
  background-color : #263343;
}

a {
  text-decoration: none;
  color:whitesmoke;
}

ul {
  list-style-type: none;
}

#top {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: cneter;
  background-color: #145B71;
  padding : 8px 12px;
}

#top #logoimg {
 width: 300px;
 height: 150px;
 margin-left: 100px;
}

#top #topmenu {
  display : flex;
  list-style: none;
  padding-left: 0;
  font-family: 'insungitCutelivelyjisu';
  font-size: 20px;
  margin-top: 30px;
}

#top #topmenu li {
  width : 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding-top: 20px;
  padding: 10px 14px;
}

#top #topmenu li:hover {
  background-color : #CE9EAD;
  border-radius: 4px;
}

#top #rightmenu {
  list-style: none;
  color : whitesmoke;
  display: flex;
  padding-left: 0;
  font-family: 'insungitCutelivelyjisu';
  margin-right: 100px;
}

#top #rightmenu li {
  width : 60px;
  height: 20px;
  padding : 8px 12px;
}

#top_togglebuttn {
  display: none;
  position : absolute;
  right :32px;
}

@media screen and (max-width : 800px) {
  #sea #top {
    flex-direction: column;
    align-items: flex-start;
    padding : 8px 24px;
  }

  #sea #top #topmenu {
    display: none;
    flex-direction: column;
    align-items: center;
    width : 100%;
  }

  #sea #top #topmenu li {
    width : 100%;
    text-align: center;
  }

  #sea #top #rightmenu {
    display: none;
    justify-content: center;
    width : 100%;
  }

  #top_togglebuttn {
    display: block;
}

#topmenu.active,
#rightmenu.active {
  display: block;
}

}

main {
  width : 1500px;
  margin : 0 auto;
  display: flex;
  justify-content: space-between;
}

main #leftbox {
  margin-top: 50px;
  width : 700px;
  background-color: #d9f3ffcc;
}

main #leftbox #bookimg img {
  width : 200px;
  height : 250px;
  margin : 10px;
  
}

main #leftbox #bookimg {
  margin-top: 50px;
}

main #leftboxtitle {
  display: flex;
  font-family: 'insungitCutelivelyjisu';
  color: #D9F3FF;
  font-size: 30px;
  background-color: #CE9EAD;
  width: 400px;
  
}

main #leftboxtitle img {
  padding: 10px;
  margin-right: 10px;
}

main #leftboxtext {
  width: 250px;
  height: 70px;
  line-height: 70px;
}

main #rightbox {
  margin-top: 50px;
  width : 700px;
  background-color: #d9f3ffcc;

}

main #rightbox #rightcontent {
  display : flex;
  flex-direction: column;
}

main #rightbox #rightcontent img {
 width: 600px;
 height: 200px;
 margin-left: 50px;
}


main #rightboxtitle {
  display: flex;
  font-family: 'insungitCutelivelyjisu';
  color: #D9F3FF;
  font-size: 30px;
  background-color: #CE9EAD;
  width: 400px;
  margin-bottom: 50px;
  
}

main #rightboxtitle img {
  padding: 10px;
  margin-right: 10px;
}

main #rightboxtext {
  width: 250px;
  height: 70px;
  line-height: 70px;
}

footer #bottom {
    margin-top: 20px;
    display: flex;
    min-width: 400px;
    justify-content: space-between;
    align-items: cneter;
    background-color: #145B71;
    padding : 8px 12px;
  }

footer #logoimg {
  width: 200px;
  margin-left: 100px;
}

footer #mob {
  margin-right: 100px;
}

footer #mob ul{
  display: flex;
}


footer #mob ul li{
  margin: 10px;
}




footer #custom {
  font-family: 'insungitCutelivelyjisu';
  color: #D9F3FF;
}

footer #custom ul li {
  margin-top: 10px;
}

footer #mob img {
  width: 50px;
}